@inject MyMessage MyMessage


<div>
    @if (!string.IsNullOrWhiteSpace(MyMessage.Text))
    {
        <p>Message received: @MyMessage.Text</p>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        MyMessage.OnChange += StateHasChanged;
    }
}